{% extends 'base.html' %}
{% load staticfiles %}
{% block content%}
<!-- Page Content -->

<div class="container assoc"  >
<div class="container napr2" style="padding-left:35px;" >

<img src="{% static 'img/100.png' %}" style="margin-top:20px;" class="img-people">
<div class="abouta">
<p>Ассоциация была создана в 2014 году с целью выстраивания системной работы по организации и сопровождению волонтерских центров, осуществляющих свою деятельность в субъектах России.

<br>
<br>На сегодняшний день в Ассоциацию входит более 100 организаций, включая образовательные организации высшего и среднего профессионального образования, некоммерческие организации, а также ресурсные центры по поддержке добровольчества.


</div>

</div>
</div>

<div class="container napr2 " style="padding-left:35px;margin-top:50px" >


<div class="abouta2">
<p>

В работу центров Ассоциации вовлечено более 200 тысяч человек, ежедневно принимающих участие в мероприятиях муниципального, регионального или федерального уровня. Ассоциация волонтерских центров является научно-методическим центром, осуществляя экспертное и методическое сопровождение общественных и образовательных организаций, бюджетных учреждений, органов власти.</p>
</div>
<img src="{% static 'img/assoc/200k.png' %}" style="height:240px;" class="img-people">
</div>

<div class="container assoc2"  >
<div class="container napr2 " style="padding-left:35px;" >


<div class="abouta3">
<p class="ourmis">Наша миссия</p>

<p class="text_ourmis">Развитие волонтерства в России, распространение ценностей волонтерства и культуры социально ориентированной деятельности граждан, а также содействие в реализации гражданского, личностного и профессионального потенциалов в добровольческой деятельности.</p>


</div>

</div>
</div>



<div class="container assoc3" >
 <div class="container napr2">
    <div class="titlebl" style="margin-top:20px;margin-bottom:30px;">
			     <img src="{% static 'img/dbl.png' %}" class="left"></img>
			    <div class="titlezag"> <div class="titlezag2 "><a href="">Наши цели</a></div></div>
			    <img src="{% static 'img/dbr.png' %}" class="right"></img>
			   </div>

			<section >


				<p>
					<button class="btn btn-1 btn-1e btn-1a">Системное вовлечение волонтеров в масштабные национальные проекты</button>
				<button class="btn btn-1 btn-1e btn-1z ">Распространение методик и опыта игр по работе с волонтерами: организационная,<br> методическая поддержка</button>
				<button class="btn btn-1 btn-1e btn-1z">Содействие росту числа волонтерских инициатив и организаций, мониторинг развития <br> волонтерства в России, развитие культуры волонтерства</button>
				<button class="btn btn-1 btn-1e btn-1a">Формирование инфраструктуры поддержки волонтерства в России</button>

				</p>
				</section>

</div>
</div>

{% endblock %}
