{% extends 'base.html' %}
{% load staticfiles %}
{% block content%}

<div class="container newsbg">


    <div class="container napr2 " style="padding-left:35px;" >

        <div class="row">


		 <!-- Title -->

			<div class="newsmaintop">
                <h2>Направления деятельности Ассоциации</h2>
				<p></p>
		</div>
		</div>
		</div>
		</div>
<div class="napr2">
<div class="container napr2" style="margin-top:40px;" >
    <div class="dirbg6" >
    <img src="{% static 'img/dir2/Soc_Ico.png' %}" class="activiti_img" style="margin-top:17px;margin-left:17px;">
    <div class="dirtext">
        <p class="dirtitle">Социальное волонтерство</p>
        <br>
        <p>Это добровольческая деятельность, направленная на оказание помощи, прежде всего, незащищенным слоям населения: инвалиды, воспитанники детских домов, пожилые одинокие люди, нуждающиеся во внимании и  постоянном уходе,  терминальные больные и т.д.</p>
        </div>
    </div>
    </div>

<div class="container napr2" style="margin-top:40px;" >
    <div class="dirbg3" >
    <img src="{% static 'img/dir2/Ev_Ico.png' %}" class="activiti_img" >
    <div class="dirtext">
        <p class="dirtitle">Событийное волонтерство</p>
        <br>
        <p>Это добровольческая деятельность на мероприятиях местного, регионального, федерального и международного уровней. Оно подразумевает привлечение волонтеров к организации и проведению событий спортивного, образовательного, социально-культурного характера с целью их дальнейшей интеграции в смежные направления добровольчества, а также формирования гражданской культуры.   </p>
        </div>
    </div>
    </div>

<div class="container napr2" style="margin-top:40px;" >
    <div class="dirbg4" >
    <img src="{% static 'img/dir2/Med_Ico.png' %}" class="activiti_img">
    <div class="dirtext">
        <p class="dirtitle">Медицинское волонтерство</p>
        <br>
        <p>Это добровольческая деятельность в сфере здравоохранения, призванная повысить качество медицинской помощи на всех ее этапах: профилактическом, лечебном и реабилитационном. Существует 4 основных направления медицинского волонтерства: добровольчество в лечебно-профилактических учреждениях, добровольчество в рамках медицинского сопровождения массовых и спортивных мероприятий, добровольческая санитарно-профилактическая работа, добровольчество в донорской службе.</p>
        </div>
    </div>
    </div>

<div class="container napr2" style="margin-top:40px;" >
    <div class="dirbg2" >
    <img src="{% static 'img/dir2/Cul_Ico.png' %}" class="activiti_img" >
    <div class="dirtext">
        <p class="dirtitle">Культурно-просветительское волонтерство</p>
        <br>
        <p>Это добровольческая деятельность в проектах культурной направленности, проводимых в музеях, библиотеках, домах культуры, театрах, кинотеатрах, культурных центрах, парках и т.д. Основные задачи культурно-просветительского волонтерства состоят в сохранении и продвижении культурного достояния, создании новой атмосферы открытости и доступности культурных пространств, формировании культурной идентичности, популяризации культурной сферы среди молодежи и сохранении исторической памяти.</p>
        </div>
    </div>
    </div>


<div class="container napr2" style="margin-top:40px;" >
    <div class="dirbg5" >
    <img src="{% static 'img/Silver_Ico3.png' %}" class="activiti_img" >
    <div class="dirtext">
        <p class="dirtitle">Серебряное волонтерство </p>
        <br>
        <p>Это добровольческая деятельность, в которой принимают участие люди старшего возраста, безвозмездно участвующие в деятельности, направленной на решение актуальных социальных, культурных, экономических, экологических проблем в обществе и применяющие собственные знания и умения для осуществления этой деятельности.</p>
        </div>
    </div>
    </div>





<div class="container napr2 " style="margin-top:40px;" >
    <div class="dirbg" >
    <img src="{% static 'img/dir2/Corp_Ico.png' %}" class="activiti_img" >
    <div class="dirtext">
        <p class="dirtitle">Корпоративное волонтерство</p>
        <br>
        <p>Это добровольческая деятельность, направленная на самореализацию личностного и профессионального потенциала представителей государственных и/или коммерческих структур, которые при поддержке организации, где они работают, принимают активное участие в социально значимой деятельности на безвозмездной основе.</p>
        </div>
    </div>
    </div>
</div>











{% endblock %}