{% extends 'base.html' %}
{% load staticfiles %}
{% block content%}

<div id="soc_vol" class="modalDialog">
	<div class="soc_vol">
		
		<img class="soc_logo" src="{% static 'img/dir2/Soc_Ico.png' %}" alt="" />
		<h2>Социальное волонтёрство</h2>
		<p class="soc_desc">Это добровольческая деятельность, направленная на оказание помощи, прежде всего, незащищенным слоям населения: 
		инвалиды, воспитанники детских домов, пожилые одинокие люди, нуждающиеся во внимании и постоянном уходе, терминальные больные и т.д.</p>
		
	    <div class="modal_butt modal_butt_act">
	        
	    <a href="#close">Закрыть</a></div>
	</div>
</div>

<div id="sob_vol" class="modalDialog">
	<div>
		
		<img class="soc_logo" src="{% static 'img/dir2/Ev_Ico.png' %}" alt="" />
		<h2>Событийное волонтерство</h2>
		<p>Это добровольческая деятельность на мероприятиях местного, регионального, федерального и международного уровней. 
		Оно подразумевает привлечение волонтеров к организации и проведению событий спортивного, образовательного, социально-культурного характера с целью их дальнейшей интеграции в смежные направления добровольчества, 
		а также формирования гражданской культуры.</p>
		
	    <div class="modal_butt modal_butt_act">
	        
	    <a href="#close">Закрыть</a></div>
	</div>
</div>

<div id="med_vol" class="modalDialog">
	<div>
		
		<img class="soc_logo" src="{% static 'img/dir2/Med_Ico.png' %}" alt="" />
		<h2>Медицинское волонтерство</h2>
		<p>Это добровольческая деятельность в сфере здравоохранения, призванная повысить качество медицинской помощи на всех ее этапах: 
		профилактическом, лечебном и реабилитационном. Существует 4 основных направления медицинского волонтерства: добровольчество в лечебно-профилактических учреждениях, добровольчество в рамках медицинского сопровождения массовых и спортивных мероприятий, добровольческая санитарно-профилактическая работа, добровольчество в донорской службе.</p>
		
	    <div class="modal_butt modal_butt_act">
	        
	    <a href="#close">Закрыть</a></div>
	</div>
</div>
<div id="kul_vol" class="modalDialog">
	<div>
		
		<img class="soc_logo" src="{% static 'img/dir2/Cul_Ico.png' %}" alt="" />
		<h2>Культурно-просветительское волонтерство</h2>
		<p class>Это добровольческая деятельность в проектах культурной направленности, проводимых в музеях, библиотеках, домах культуры, театрах, кинотеатрах, культурных центрах, парках и т.д. 
		Основные задачи культурно-просветительского волонтерства состоят в сохранении и продвижении культурного достояния, создании новой атмосферы открытости и доступности культурных пространств, 
		формировании культурной идентичности, популяризации культурной сферы среди молодежи и сохранении исторической памяти.</p>
		
	    <div class="modal_butt modal_butt_act">
	        
	    <a href="#close">Закрыть</a></div>
	</div>
</div>

<div id="ser_vol" class="modalDialog">
	<div>
		
		<img class="soc_logo" src="{% static 'img/Silver_Ico3.png' %}" alt="" />
		<h2>Серебряное волонтерство</h2>
		<p>Это добровольческая деятельность, в которой принимают участие люди старшего возраста, безвозмездно участвующие в деятельности, 
		направленной на решение актуальных социальных, культурных, экономических, экологических проблем в обществе и применяющие собственные знания и 
		умения для осуществления этой деятельности.</p>
		
	    <div class="modal_butt  modal_butt_act">
	        
	    <a href="#close">Закрыть</a></div>
	</div>
</div>
<div id="kor_vol" class="modalDialog">
	<div>
		
		<img class="soc_logo" src="{% static 'img/dir2/Corp_Ico.png' %}" alt="" />
		<h2>Корпоративное волонтерство</h2>
		<p>
Это добровольческая деятельность, направленная на самореализацию личностного и профессионального потенциала представителей государственных
и/или коммерческих структур, которые при поддержке организации, где они работают, принимают активное участие в социально значимой деятельности на безвозмездной основе.</p>
		
	    <div class="modal_butt modal_butt_act">
	        
	    <a href="#close">Закрыть</a></div>
	</div>
</div>
<div class="container newsbg">


    <div class="container napr2 " style="padding-left:35px;" >

        <div class="row">


		 <!-- Title -->

			<div class="newsmaintop">
                <h2>Направления деятельности</h2>
				<p></p>
		</div>
		</div>
	</div>
</div>

<div class="container napr2 activities">
    <div class="napr_logo">
        <img src="{% static 'img/no_logo.jpg' %}" alt="" />
    </div>
    <div class="napr_logo">
        <img src="{% static 'img/no_logo.jpg' %}" alt="" />
    </div>
    <div class="napr_logo">
        <img src="{% static 'img/no_logo.jpg' %}" alt="" />
    </div>
</div>
<div class="container assoc3" >
 <div class="container napr2 assoc_button_block">
    <div class="titlebl" style="margin-top:20px;margin-bottom:30px;">
			     <img src="{% static 'img/dbl.png' %}" class="left "></img>
			    <div class="titlezag napr_title"> <div class="titlezag2 "><a href="">Направления волонтёрства</a></div></div>
			    <img src="{% static 'img/dbr.png' %}" class="right "></img>
			   </div>

			<section >


				<p>
					<a href="#soc_vol"><button class="btn btn-1 btn-1e btn-1a" >Социальное волонтерство</button></a>
					<a href="#sob_vol"><button class="btn btn-1 btn-1e btn-1a">Событийное волонтерство</button></a>
					<a href="#med_vol"><button class="btn btn-1 btn-1e btn-1a">Медицинское волонтерство</button></a>
					<a href="#kul_vol"><button class="btn btn-1 btn-1e btn-1a">Культурно-просветительское волонтерство</button></a>
					<a href="#ser_vol"><button class="btn btn-1 btn-1e btn-1a">Серебряное волонтерство</button></a>
					<a href="#kor_vol"><button class="btn btn-1 btn-1e btn-1a">Корпоративное волонтерство</button></a>
				</p>
				</section>

</div>
</div>

{% endblock %}