{% extends 'base.html' %}
{% load staticfiles %}

{% block content%}
<!-- Page Content -->
<div class="container newsbg ">


    <div class="container ne " style="padding-left:35px;" >

        <div class="row">


		 <!-- Title -->

			<div class="newsmaintop">
                <h2>{{ title }}</h2>
				<p></p>
		</div>
		</div>
		</div>
		</div>
            <!-- Blog Post Content Column -->
			 <div class="container ne " style="padding-left:35px;" >

        <div class="row eve">
            <div class="col-lg-8 ">

                <!-- Blog Post -->
        {% for obj in news %}
        <a href="{% url 'news' obj.id %}" style="text-decoration:none;"><div  class="newspre">
		<div class="datepre">
		<p>{{obj.date_published|date:'d.m.Y' }}
			</p>
			</div>
		<div class="titlepre">
		<p>{{ obj.title|truncatechars:70 }}
			</p>
			</div>

			<img src="{{ obj.thumb.url }}" >
			<div class="newspreblock">
			{% spaceless %}{{ obj.text|striptags|truncatechars:150|safe}}{% endspaceless %}


			</div>
			<hr class="test">

        </div></a>
        {% empty %}
    	    <h1>Новостей по данному запросу нет</h1>
        {% endfor %}
        
        {% if news.paginator.page_range|length > 1 %}
            <div class="page">
                <ul class="pagination">
                    {% if news.has_previous %}
                         <li><a href="{% url 'okrug_news' okrug_name=okrug page=news.previous_page_number %}">&laquo;</a></li>
                    {% else %}
                        <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}
                    {% if news.number > 5 %}
                        <li><a href="{% url 'okrug_news' okrug_name=okrug page=news.previous_page_number %}">1</a></li>
                        <li><a>...</a></li>
                    {% endif %}
                    {% for page in news.paginator.page_range %}
                    {% if page <= max_index and page >= min_index %}
                        {% if page == news.number %}
                            <li class="active"><a href="{% url 'okrug_news' okrug_name=okrug page=page %}">{{ page }}</a></li>
                        {% else %}
                            <li><a href="{% url 'okrug_news' okrug_name=okrug page=page %}">{{ page }}</a></li>
                        {% endif %}
                    {% endif %}
                    {% endfor %}
                    {% if news.number < last_page %}
                        <li><a>...</a></li>
                        <li><a href="{% url  'okrug_news' okrug_name=okrug page=news.paginator.num_pages %}">{{ news.paginator.num_pages }}</a></li>

                    {% endif %}
                    {% if news.has_next %}
                        <li><a href="{% url 'okrug_news' okrug_name=okrug page=news.next_page_number %}">&raquo;</a></li>
                    {% else %}
                        <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}
        





            </div>

            <div class="col-lg-4 ">
             <div class="fokr">
                 <p>Новости по регионам</p>
                 <hr class="bluehr">
                 <ul>
                    <li><span><a href="{% url 'all_news' %}">Все новости</a></span></li>
                    {% for okrug in okruga %}
					<li><span><a href="{% url 'okrug_news' okrug.0 %}">{{ okrug.1 }}</a></span></li>

                    {% endfor %}
                </ul>
</div>
   </div>
   </div>
                 </div>



{% endblock %}