{% extends 'base.html' %}
{% load staticfiles %}
{% block content%}

<div class="container newsbg newsbg_news">


    <div class="container napr2 " >

        <div class="row">


		 <!-- Title -->

			<div class="newsmaintop">
                <h2>Проекты Ассоциации</h2>
				<p></p>
		</div>
		
		<div class="form_direction">
		   <form action="" method="get" accept-charset="utf-8">
		       <select  name = "directions" >
                    <option disabled selected >Выберите направление</option>
               {% for direction in directions %}
                    <option value="{{ direction.0 }}" >{{ direction.1 }}</option>
                {% endfor %}
                
                </select>
                
                <input type="submit" value="Поиск" class="button_news_search project_filter">
		   </form>
		    
		</div>
		
		</div>
		</div>
		</div>


<div class="container napr2" >
 <div class="events" >
    {% for obj in projects %}
    <a href="{% url 'project' obj.id %}" style="text-decoration:none;color:#333" >
        <div class="events_mod">
            <img src="{{ obj.img.url }}" alt="" />
            <div class="events_mod_title">
                <p>{{ obj.title}}</p>
            </div>
        </div>
    </a>
    {% empty %}
        <h2>Проектов по данному запросу не найдено</h2>
    {% endfor %}


	</div>
	 {% if projects.paginator.page_range|length > 1 %}
            <div class="page">
                <ul class="pagination">
                    {% if projects.has_previous %}
                        <li><a href="{% url 'projects'%}?page={{projects.previous_page_number}}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %} ">&laquo;</a></li>
                    {% else %}
                        <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}
                    {% if projects.number > 5 %}
                        <li><a href="{% url 'projects' %}?page=1&{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">1</a></li>
                        <li><a>...</a></li>
                    {% endif %}
                    {% for page in projects.paginator.page_range %}
                    {% if page <= max_index and page >= min_index %}
                        {% if page == projects.number %}
                            <li class="active"><a href="{% url 'projects' %}?page={{page}}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">{{ page }}</a></li>
                        {% else %}
                            <li><a href="{% url 'projects'%}?page={{page}}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">{{ page }}</a></li>
                        {% endif %}
                    {% endif %}
                    {% endfor %}
                    {% if projects.number < last_page %}
                        <li><a>...</a></li>
                        <li><a href="{% url 'projects' %}?page={{projects.paginator.num_pages}}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">{{ news.paginator.num_pages }}</a></li>

                    {% endif %}
                    {% if projects.has_next %}
                        <li><a href="{% url 'projects' %}?page={{projects.next_page_number}}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">&raquo;</a></li>
                    {% else %}
                        <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}

    </div>


{% endblock %}